
#footer{
    margin-left: -8px;
    margin-right: -8px;
    background-color: #F0F2F4;
}

.footer-nav>div{
    margin : auto;
}

.footer-nav > div > div >img{
   width : 85%;
   height:85%;
}

.footer-nav{
    display:flex;
    margin:auto;
    padding : 25px;
    text-align :center;
}

.footer-nav > div > div{
   width : 70px;
   height :70px;
   margin:auto;
}


.footer-nav > div > a{
    color : #0457C8;
    font-family: Human BBY Digital,Human Fallback,Arial,Helvetica,sans-serif;
    font-weight: 600;
    font-size: 13px;
    display:block;
    margin-top:15px;
    text-decoration: none;
}

.footer-nav > div > a:hover{
    text-decoration: underline;
    color:#083d68;
}

.footer-nav > div > a:hover{
    text-decoration: underline;
    cursor : pointer;
    color: #083d68;
}

#footer > hr{
    width : 95%;
}

.support{
    display: flex;
}

#main-nav-box{
    width : 95%;
    display: flex;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 25px;
}

.main-navigation{
    width : 95%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    margin : auto;   
}

.main-navigation > div{
    text-align: left;
    height : auto;
}

.main-navigation > div > a{
    font-size: 13px;
    font-family: Human BBY Digital,Human Fallback,Arial,Helvetica,sans-serif;
    color: #054db1;
    line-height: 30px;
    display: block;
    text-decoration: none;
}

.main-navigation > div > a:hover{
    text-decoration: underline;
    cursor : pointer;
    color: #083d68;
}

.main-navigation > div > h3{
    font-family: Human BBY Digital,Human Fallback,Arial,Helvetica,sans-serif;
    font-size: 15px;
}

#SignIn{
    background-color: white;
    width: 40%;
    padding : 0px 20px 30px 20px;
    margin-bottom: 70px;
}

.signin-input > input{
    width: 60%;
    font-size: 15px;
    padding : 8px;
    border-radius : 4px;
    border-width: 0.5px;
}

.signin-input > button{
    margin-top : 18px;
    width: 30%;
    padding : 10px;
    font-size: 13px;
    background-color: #0046be;
    border : 0px;
    border-radius : 4px;
    font-family: Human BBY Digital,Human Fallback,Arial,Helvetica,sans-serif;
    font-weight: 600;
    color : white;
    margin-bottom : 20px;
    cursor: pointer;
}

.best-buy-apps{
    display: flex;
    align-items: center;
    margin-top : 15px;
    margin-bottom: 15px;
}

.best-buy-apps > div > img{
   width: 50px;
   height: 50px;
}

.best-buy{
    font-family: Human BBY Digital,Human Fallback,Arial,Helvetica,sans-serif;
    text-align: start;
}

.best-buy > h2 {
    margin-top: 10px;
    margin-bottom: -10px;
    font-size: 20px;
    font-family: Human BBY Digital,Human Fallback,Arial,Helvetica,sans-serif;
    color : black;
}

.best-buy > p > a {
    font-weight: 600;
    color: #054db1;
    font-size: 13px;
    text-decoration: none;
}

.best-buy > p > a:hover{
    color:#083d68;
    text-decoration: underline;
}

#logos{
    margin : auto;
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin-top: 20px;
    margin-bottom: 20px;
}

#logos > div > a >img{
    width: 32px;
    height: 32px;
}

#SignIn > p > a{
    text-align: left;
    font-family: Human BBY Digital,Human Fallback,Arial,Helvetica,sans-serif;
    font-size: 13px;
    color : #0457C8;
    margin-bottom: 20px;
    margin-top : 25px;
    text-decoration: none;
}

#SignIn > p > a:hover{
    color :#083d68;
    text-decoration: underline;
}

#SignIn > h3{
    text-align: left;
    font-family: Human BBY Digital,Human Fallback,Arial,Helvetica,sans-serif;
    font-size: 17px;
    margin-top: 20px;
    margin-bottom: 5px;
}

.signin-input{
    justify-content: space-between;
    align-items :center;
    display: flex;
    height :50px;
    font-size: 17px;
    color : #318000;
    font-family: Human BBY Digital,Human Fallback,Arial,Helvetica,sans-serif;
}

#alert-invalid-email{
    color: #bb0628;
    font-size: 15px;
    margin-bottom:20px;
    margin-left: 10px;
    margin-top:-5px;
}

#other-section{
    width: 95%;
    margin:auto;
    margin-top: -20px;
}

.feedback-section{
    display:flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.feedback-section > div{
    display : flex;
    gap : 5px;
    font-size: 13px;
    font-family: Human BBY Digital,Human Fallback,Arial,Helvetica,sans-serif;
}

.feedback-section > div > span + a {
    color : #0457C8;
    margin-top : 5px;
}

.feedback-section > div > span + a:hover{
    color :#083d68;
}

.feedback-section > div > span{
    color : black;
}


.feedback-section > div + div{
    gap : 50px;
}

.feedback-section > div + div > a{
    color:#0457C8;
    text-decoration: none;
}

.feedback-section > div + div > a:hover{
    color:#083d68;
    text-decoration: underline;
}

.legal-nav-section{
    justify-content: flex-start;
    gap:20px;
    display: flex;
}

.legal-nav-section > a{
    color : #0457C8;
    text-decoration: none;
    font-size: 11px;
    font-family: Human BBY Digital,Human Fallback,Arial,Helvetica,sans-serif;
}

.legal-nav-section > a:hover{
    color :#083d68;
    text-decoration: underline;
}

#other-section > hr{
    margin : 20px 0px 20px 0px;
}

#other-section > p{
    font-family: Human BBY Digital,Human Fallback,Arial,Helvetica,sans-serif;
    font-size : 13px;
    margin-top : 30px; 
}
